@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*.titulo-2 {
    display: inline-block;
    text-align: center;
    padding: 10px;
    height: 50px;
}*/

.titulo_cata {
    display: inline-block;
    position: absolute;
    text-align: center;
    left: 45%;
    top: 1px;
}

/*.titulo-1  {
    display: inline-block;
    padding: 10px;
    width: 43%;
}*/

.titulo_seri {
    display: inline-block;
    position: absolute;
    padding: 10px;
}

.interfaz_Principal {
    background-color: rgb(38, 40, 44);
    color: white;
    width: 100%;
    height: 95px;
}

body {
    background-color: rgb(166, 166, 166);
}

.nuevo-catalogo{
    width: 250px;
    height: 250px;
    background-color: rgb(166,215,240);
    /*position: absolute;*/
    padding: 10px;
    margin-left: 30px;
    margin-top: 15px;
}

.imagen-catalogo {
    position: relative;
    width: 200px;
    height: 200px;
    margin-left: 20px;
    object-fit: scale-down;
}

.link_crear_catalogo {
    top: 90%;
    padding-left: 25%;
    text-align: center;
}

.crear_nuevo_catalogo {
    background-color: rgb(217, 217, 217);
    width: 35%;
    color:white;
    padding: 30px;
    min-height: 400px;
    text-align: center;
    position: absolute;
    left: 33%;
    bottom: 10%;
    display: none;
    border-radius: 10px;
}

.etiq_ingresar {
    display: inline-block;
    position: absolute;
    left: 20px;
    bottom: 1px;
}

.vent_crear_catalogo {
    /*background-color: rgb(38, 40, 44);*/
    background-color: rgb(119, 119, 119);
    color: white;
    position: absolute;
    top: 0;
    right: .5px;
    left: .5px;
    width: 100%;
    border-radius: 10px;
}

.imagen_cerrar {
    position: absolute;
    filter: brightness(10%);
    right: 6px;
    top: 10px;
}
/*
.label_nombre {
    margin-top: 50px;
    width: 100%;
}

.label_categoria {
    margin-top: 25px;
    width: 100%;
}
.label_foto {
    margin-top: 25px;
    width: 100%;
}

label {
    width: 25%;
    color: black;
    float: left;
}

.input_nombre {
    width: 280px;
    height: 30px;
    background-color: rgb(78, 159, 227);
    border: black;
}

.input_categoria {
    width: 280px;
    height: 30px;
    background-color: rgb(78, 159, 227);
    border: black;
}

.input_foto {
    width: 280px;
    height: 80px;
    color: black;
    background-color: rgb(78, 159, 227);
    border: black;
}*/

.botones_crear_cata {
    margin-top: -5px;
    width: 100%;
}

.crear_cata_enviar {
    width: 135px;
    height: 35px;
    margin-left: 100px;
    background-color: rgb(78, 159, 227);
    border: black;
}

.crear_cata_cancelar {
    width: 135px;
    height: 35px;
    margin-left: 15px;
    background-color: rgb(78, 159, 227);
    border: black;
}